/node_modules
/build
npm-debug.log*
.vite

# Bundle analysis
build/stats.html

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
Desktop.ini