.filter-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

.filter-header {
  grid-column: 1 / 3;
}

.filter-form {
  max-width: 300px;
}

.filter-form > div {
  padding: 4px;
}

@media screen and (max-width: 991px) {
  .filter-container {
    display: flex;
    flex-direction: column;
  }

  .filter-form {
    max-width: 100%;
  }
}

@media screen and (min-height: 800px) {
  .filter-form > div {
    position: sticky;
    top: 0px;
    overflow-y: auto;
  }
}
