.buldreinfo-scale-img {
  max-height: 100vh;
  max-width: 100vw;
  object-fit: scale-down;
  font-family: 'object-fit: scale-down';
}

.buldreinfo-svg {
  max-height: 100vh;
  max-width: 100vw;
  height: auto;
  width: auto;
}
.buldreinfo-svg-route {
  fill: none;
  stroke: #E2011A;
}
.buldreinfo-svg-ring {
  fill: #E2011A;
}
.buldreinfo-svg-routenr {
  fill: #FFFFFF;
  text-anchor: middle;
  alignment-baseline: middle;
  line-height: 1;
}
.buldreinfo-svg-pointer {
  cursor: pointer;
}
.buldreinfo-svg-opacity {
  opacity: .4;
}
.buldreinfo-svg-edit-opacity {
  opacity: .75;
}
.buldreinfo-svg-ring:hover,
.buldreinfo-svg-ring-group.is-active .buldreinfo-svg-ring {
    fill: #01e24c;
}
