
th.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

th.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}
