<IfModule mod_rewrite.c>

RewriteEngine On

# allow social media crawlers to work by redirecting them to a server-rendered static version on the page
RewriteCond %{HTTP_USER_AGENT} !(Facebot|facebookexternalhit/[0-9])
RewriteRule ^ - [S=4] # Skip following lines if NOT crawler
RewriteRule area/(\d*)$ http://45.56.87.57:8080/com.buldreinfo.jersey.jaxb/v1/static/areas?id=$1&base=%{HTTP_HOST} [P]
RewriteRule sector/(\d*)$ http://45.56.87.57:8080/com.buldreinfo.jersey.jaxb/v1/static/sectors?id=$1&base=%{HTTP_HOST} [P]
RewriteRule problem/(\d*)$ http://45.56.87.57:8080/com.buldreinfo.jersey.jaxb/v1/static/problems?id=$1&base=%{HTTP_HOST} [P]
RewriteRule ^ http://45.56.87.57:8080/com.buldreinfo.jersey.jaxb/v1/static/frontpage?base=%{HTTP_HOST} [P]

# React.JS redirect to index.html
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} =/gpl-3.0.txt [or]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} =/css/bootstrap.min.css [or]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} =/css/buldreinfo.css
RewriteRule ^ - [S=4] # Skip following lines if NOT gpl-3.0.txt
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]
RewriteRule ^ /index.html [L]

</IfModule>
