@media (max-width: 500px) {
  .buldreinfo-hidden-mobile {
    display: none !important;
  }
}
@media (min-width: 501px) {
  .buldreinfo-visible-mobile {
    display: none !important;
  }
}

.buldreinfo-tooltip-compact {
  padding: 0px !important;
}
